/* Selector universal */
* {
  margin: 10;
  padding: 10;
}
.logo{
  align-content: top;
  max-width: 200px;
}

.ribbon {
  position: static;
  top: 0px;
  right: 0px;
  width: 100%;
}

.menu-container {
  color: #fff;
  background-color: #71f1c0;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.menu {
  width: 900px;
  display: flex;
  /* distribución horizontal */
  justify-content: space-around;
}

.section-container {
  color: #000000;
  background-color: #fffffF;
  justify-content: center;
}

.paragraph{
  font-family:Verdana, Tahoma, sans-serif;
  font-size: 14px;
  color:black;
  text-align: justify;
  text-justify: inter-word;
}

ul.a {
  font-family:Verdana, Tahoma, sans-serif;
  list-style-type: circle;
}

.column {
  float: left;
  padding: 10px;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.first-item {
  order: 1;
}

.last-item {
  order: -1;
}


footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
/*
.footer {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  background-color: #2d332d;
  border: 1px solid white;
  height: 200px;
  flex: 1;
}*/


img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}
.box{
  width: 250px;        
}    
.box.large{
  height: 150px;
}

/* Nuestros servicios */

.servicios {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.servicios-lista{
  display: flex;
  flex-direction: column;
}

.formaspago {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.formaspago-lista{
  display: flex;
  flex-direction: row;
  list-style:none
}

.btn-appointment{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;/*
  display: inline-block;*/
  font-size: 16px;
}

/* Galeria */

.galeria{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 3rem;
}

.footer-links-container{
  column-count: 3;
  column-rule-style: solid;
  column-rule-width: 1px;
}

.zoom {
  padding: 5px;
  background-color: black;
  transition: transform .2s; /* Animation */
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#beat{
  width:200px;
  height:50px;
  position:relative;
  top:30px;
  margin:0 auto;
  text-align:center;
  }
  #heart img{
    align-content: top;
    max-width: 200px;
    position:absolute;
    display: flex;
    left:0;
    right:0;
    margin:0 auto;
    -webkit-transition: opacity 7s ease-in-out;
    -moz-transition: opacity 7s ease-in-out;
    -o-transition: opacity 7s ease-in-out;
    transition: opacity 7s ease-in-out;}
  
 @keyframes heartFadeInOut {
  0% {
    opacity:1;
  }
  14% {
    opacity:1;
  }
  28% {
    opacity:0;
  }
  42% {
    opacity:0;
  }
  70% {
    opacity:0;
  }
}

#heart img.top { 
  animation-name: heartFadeInOut; 
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;

}


.button {
  position: fixed;
  background-color: #04AA6D;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 10px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  right:0%
}

.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

/*Carousel de texto*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; 

  background: linear-gradient(141deg, #ffffff 0%, #ededed 40%, #999999 75%);
  margin:0}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

.glow {
  font-size: 80px;
  color: #073763;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #000073, 0 0 40px #000073, 0 0 50px #000073, 0 0 60px #000073, 0 0 70px #000073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #af4da6, 0 0 40px #af4da6, 0 0 50px #af4da6, 0 0 60px #af4da6, 0 0 70px #af4da6, 0 0 80px #af4da6;
  }
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}

/*whatsapp button*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

/*sticky*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}